<div style="display: flex;">
    <div *ngIf="movie" class="main-container">
        <h2>{{movie.title | uppercase}} Details</h2>

        <form class="form-container" (ngSubmit)="onSubmit()" #movieForm="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput required #title="ngModel" [(ngModel)]="movie.title" name="title">
                <mat-error *ngIf="title.invalid">
                    Title is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Release date</mat-label>
                <input readonly matInput [matDatepicker]="picker" [(ngModel)]="movie.releaseDate" name="releaseDate"
                    (click)="picker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Duration</mat-label>
                <input matInput type="number" min="1" #duration="ngModel" [(ngModel)]="movie.duration" name="duration">
                <mat-error *ngIf="duration.invalid">
                    Duration must be greater than 0
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Main Actor</mat-label>
                <mat-select [(ngModel)]="movie.actorId" name="actorId">
                    <mat-option *ngFor="let actor of actors" [value]="actor.value">
                        {{actor.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button-container">
                <button type="submit" style="margin-left: 1rem;" mat-raised-button color="accent"
                    [disabled]="!movieForm.form.valid">Submit</button>
                <button type="button" mat-raised-button (click)="goBack()">Go Back</button>
            </div>
        </form>
    </div>

    <app-actor-details class="main-container" *ngIf="movie" [actorId]="movie.actorId"
        (refreshEvent)="refreshEvent()"></app-actor-details>
</div>